/* Footer CSS */
footer {
    background-color: #3A424E;
    color: white;
}

.footer-logo {
    width: 100px;
}

.border-bottom-muted {
    border-bottom: 1px solid #6C757D;
}

.border-top-muted {
    border-top: 1px solid #6C757D;
}

.social-icon:hover, footer ul li a:hover {
    color: white !important;
}

footer ul {
    list-style: none;
}

footer ul li {
    font-size: 15px;
    margin-bottom: 20px;
}

footer ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

footer ul li a:hover {
    color: lightgray;
}

footer .footer-sub-title {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
}

footer .form-control {
    font-size: 16px;
    font-weight: normal;
}


.fly-btn {
    background-color: #3CB043;
}

.language-container {
    border: 1.7702px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8.85098px;
}


@media only screen and (max-width: 599px) {
    footer .card-title {
        font-size: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    footer .card-body, .card-footer  {
        padding: 5px !important;
    }

    footer .card-text {
        font-size: 6px !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    footer .footer-title {
        font-size: 5px !important;
    }

    footer .footer-price {
        font-size: 8px !important;
    }

    footer .two-btn {
        font-size: 6px !important;
    }

    footer .two-title {
        font-size: 8px !important;
    }

    footer .two-price {
        font-size: 8px !important;
    }

    footer .aug, .aug-number {
        display: none;
    }

    footer .black-btn {
        font-size: 10px !important;
        width: 100% !important;
        margin-top: 10px !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    footer .card-title {
        font-size: 14px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    footer .card-body, .card-footer  {
        padding: 10px !important;
    }

    footer .card-text {
        font-size: 10px !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    footer .footer-title {
        font-size: 30px !important;
    }

    footer .footer-price {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 768px) {
    footer {
        text-align: center;
    }

    footer .d-flex {
        text-align: center !important;
    }

    footer .contact {
        justify-content: center;
    }

    footer ul {
        margin-bottom: 50px;
    }
}