.cursive-text {
    font-family: 'Festive', cursive;
}

.yellow-text {
    color: #DEA868;
}

.yellow-bg {
    background-color: #DEA868;;
}

.light-silver-bg {
    background-color: #F2F2F2;
}

.rounded-picture {
    width: 70px;
    border-radius: 50%;
}

.small-text {
    font-size: 14px;
}

.switch {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5%;
}

.ball {
    padding: 3px;
}