.menu-carousel {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/slider-2.jpg');
    background-repeat: no-repeat;
}

.menu-carousel > div {
    padding: 100px;
}

@media only screen and (max-width: 767px) {
    .menu-carousel > div {
        padding: 20px;
    }

    .menu-carousel .carousel-item .row {
        grid-gap: 20px;
    }

    .menu-carousel .carousel-item .row .bg-white {
        padding: 30px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1021px) {
    .menu-carousel .carousel-item .row {
        grid-gap: 20px;
    }
}